// Height Variables
$contact-us-height: 3.0rem
$header-nav-height: 8.0rem
$header-height: calc(#{$contact-us-height} + #{$header-nav-height})
$footer-height: 10rem
$total-margin-height: calc(#{$header-height} + #{$footer-height})
$overview-height: 27.5rem
$overview-width: 70rem
// NOTE: nested calcs don't work in edge
$splash-image-height: calc(100vh - ((#{$contact-us-height} + #{$header-nav-height}) + #{$overview-height}))

// Content Variables
$content-width: 120rem
$content-height: calc(100vh - (#{$contact-us-height} + #{$header-nav-height}))
$screen-break-padding: 1.6rem
$side-padding: 1.6rem

// Screen Breaks
$screen-large: 1200px
$screen-medium: 996px
$screen-small: 768px
$screen-x-small: 375px