<section id="about" class="w3-container">
	<div id="carl_t" class="w3-container w3-padding-32">
		{% include svg/ctj.html %}
		<h2>About Carl T. Johnson Inc.</h2>
		<p class="w3-padding-16">Carl T. Johnson Inc. is a family owned and operated business in Logan, Ohio since 1957. We specialize in commercial, residential roofing and sheet 
		metal.</p>
	</div>
	<div class="w3-row" >
		<h2 id="top">Meet The Team</h2>
		<div class="w3-half">
			<div class="w3-card-4" style="width:50%">
			    <img src="img/pc.png" alt="Person" style="width:100%" class="w3-circle">
			    <div class="w3-container">
			      <h4><b>Simon</b></h4>
			      <p>The boss of all bosses</p>
			    </div>
	  		</div>
		</div>
		<div class="w3-half">
			<div class="w3-card-4" style="width:50%">
			    <img src="img/pc.png" alt="Person" style="width:100%" class="w3-circle" >
			    <div class="w3-container">
			      <h4><b>Simon</b></h4>
			      <p>The boss of all bosses</p>
			    </div>
	  		</div>
		</div>	
	</div>
	<div class="w3-row">
		<div class="w3-half">
			<div class="w3-card-4" style="width:50%">
			    <img src="img/pc.png" alt="Person" style="width:100%" class="w3-circle">
			    <div class="w3-container">
			      <h4><b>Simon</b></h4>
			      <p>The boss of all bosses</p>
			    </div>
	  		</div>
		</div>
		<div class="w3-half">
			<div class="w3-card-4" style="width:50%">
			    <img src="img/pc.png" alt="Person" style="width:100%" class="w3-circle">
			    <div class="w3-container">
			      <h4><b>Simon</b></h4>
			      <p>The boss of all bosses</p>
			    </div>
	  		</div>
		</div>
		
	</div>
	
	
	<div>
		<h2 id="top">Why Choose Us</h2>

	</div>
</section>