<section id="about" class="w3-container">
	<div id="carl_t" class="w3-container w3-padding-16">
		<h2>About Carl T. Johnson Inc.</h2>
		<p class="w3-padding-16">Carl T. Johnson Inc. is a family owned and operated business in Logan, Ohio since 1957. We specialize in commercial, residential roofing and sheet 
		metal.</p>
	</div>
	<div class="w3-container">
	<div class="w3-row" >
		<h2 id="top">Meet The Team</h2>
		<div class="w3-half">
			<div class="w3-card-4" style="width:50%">
			    <img src="img/pc.png" alt="Person" style="width:100%">
			    <div class="w3-container w3-center w3-padding">
			      <h4>Mr. Richard Johnson</h4><br>
			      <p><b>President</b></p><br>
			      <p>Develop and implement high-level strategies, making major corparate decisions.</p>
				</div>
	  		</div>
		</div>
		<div class="w3-half">
			<div class="w3-card-4" style="width:50%">
			    <img src="img/pc.png" alt="Person" style="width:100%">
			    <div class="w3-container w3-padding w3-center">
			      <h4>Aaron Johnson</h4><br>
			      <p><b>CEO</b></p><br>
			      <p>Manage overall operations and resources of company</p>
				</div>
	  		</div>
		</div>
	</div>
	<div class="w3-row">
		<div class="w3-half">
			<div class="w3-card-4" style="width:50%">
			    <img src="img/pc.png" alt="Person" style="width:100%">
			    <div class="w3-container w3-padding w3-center">
			      <h4>Teresa Jane Doe</h4><br>
			      <p><b>Secretary</b></p><br>
			      <p>Drafting correspondence, scheduling appointments, organizing and maintaining files and provide information to callers.</p>
			    </div>
	  		</div>
		</div>
		<div class="w3-half">
			<div class="w3-card-4" style="width:50%">
			    <img src="img/pc.png" alt="Person" style="width:100%">
			    <div class="w3-container w3-padding w3-center">
			      <h4>Brad Johnson</h4><br>
			      <p><b>Superintendent</b></p><br>
			      <p>Oversee day-to-day construction operations and control short term schedule.</p>
			    </div>
	  		</div>
		</div>
		
	</div>
	
	</div>
	<div>
		<h2 id="top">Why Choose Us</h2>
			<div class="w3-container w3-padding w3-medium">
				<li class="w3-padding"><a id="lk" href="https://www.bbb.org/centralohio/business-reviews/commercial-roofing/carl-t-johnson-company-inc-in-logan-oh-14007981/Bbb-Accreditation"> BBB A+ rating</a></li>
				<li class="w3-padding"> Family owned business since 1957</li>
				<li class="w3-padding">Positive reputation from our local community</li>
				<li class="w3-padding">Over 60 years in business</li>
				<li class="w3-padding">Certified in several roofing systems</li>
				<li class="w3-padding">Capacity to service numerous styles of roof services</li>
			</div>
	</div>
</section>