<section id="contact_us" style=" background-color: #332F2F" class="w3-container w3-padding w3-">
			<div class="w3-display-container">
			<h2 id="jump" style="color: white">Contact Us</h2>
			<div class="w3-row w3-padding">
			<ul id="contact_methods" class="w3-third">
				<li><span><i class="fa fa-map-marker" aria-hidden="true" style="padding-right: 10px"></i>680 E. Hunter Street</span>
				    <span>Logan, Ohio 43138</span>
				</li>
				<li><i class="fa fa-phone" aria-hidden="true" style="padding-right: 10px"></i>(740) 385 - 5777</li>
				<li><a href="mailto:ctjinc2@gmail.com"><i class="fa fa-envelope" aria-hidden="true" style="padding-right: 10px"></i>ctjinc2@gmail.com</a></li>
			</ul>
			  <div class="w3-third">
			  	<h4 style="color: white">Office Hours<i class="fa fa-clock-o w3-xlarge" aria-hidden="true" style="padding-left: 10px"></i></h4>
			  	<ul id="office_hours">
			  		<li>Monday-Thursday: 8 a.m. - 6 p.m.</li>
			  		<li>Friday: 8 a.m. - 4 p.m.</li>
			  		<li>Saturday & Sunday: Closed</li>
			  	</ul>
			  </div>
			  <div class="w3-third">
			  <div id = "sample" style = "height:300px;" class="w3-card-4"></div></div>
			 </div>
			 </div>
		</section>
	