<header class="w3-container ctj-header">
	<div class="w3-display-container">
		<h3>Carl T. Johnson Roofing Inc.</h3>
		<nav class="w3-bar ctj-nav">
			<ul class="site-nav">
				<li class="w3-bar-item w3-mobile w3-hide-small"><a href="#">Home</a></li>
				<li class="w3-bar-item w3-mobile w3-hide-small"><a href="#">About</a></li>
				<li class="w3-bar-item w3-mobile w3-hide-small"><a href="#jump">Contact</a></li>
			</ul>
			<div class="w3-sidebar w3-bar-block w3-card-4 w3-animate-right" style="display:none; right:0;" id="right-menu">
				<button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
				<a href="#" class="w3-bar-item w3-button">
					<i class="fa fa-home w3-xlarge" aria-hidden="true" style="padding-right: 10px"></i>
					Home
				</a>
				<a href="#" class="w3-bar-item w3-button">
					<i class="fa fa-users w3-xlarge" aria-hidden="true" style="padding-right: 8px; margin-left: 17px"></i>
					About Us
				</a>
				<a href="#jump" class="w3-bar-item w3-button">
					<i class="fa fa-map-marker w3-xlarge" aria-hidden="true" style="padding-right: 12px; margin-left: 33px "></i>
					Contact Us
				</a>
			</div>
			<!-- Mobile Navigation Button -->
			<button id="ctj-mobile-nav" class="w3-right w3-hide-medium w3-hide-large" onclick="openRightMenu()">&#9776;</button>
		</nav>
	</div>
</header>