<div class="w3-display-container">
	<div class="ctj-splash-screen"></div>
	<div class="ctj-overview-wrapper">
		<div class="ctj-overview">
			<h2>Overview</h2>
			<div class="overview-wrapper">
				<p>
					Carl T. Johns Roofing Inc. specializes in installing, maitaining, and repairing commercial/residential roof systems. We use industry products that have a reputation for durablility and quality. Carl T. Johnson Inc. is also certified in several major roof systems. With over 70 years in business experience, you can rest assured that our company will do whatever it takes to meet your budget and goals. Our client's satisfaction is our number one priority. We look foward to doing business with you! Feel free to checkout our roofing photos below.
				</p>
			</div>
			<div class="about-btn-wrapper">
				<button>
					Learn More About Us
				</button>
			</div>
		</div>
	</div>
</div>