<div class="w3-display-container">
	<section class="ctj-splash-screen">
		<div class="splash-content-wrapper">
			<div class="blurb">
				<span>"Great things in business are never done by one</span>
				<span>person. They are done by a team of people"</span>
			</div>
			<a href="https://www.bbb.org/centralohio/business-reviews/commercial-roofing/carl-t-johnson-company-inc-in-logan-oh-14007981/Bbb-Accreditation">
				<img id="bbb-logo" src="../../img/bbb-logo-A-rating.png">
			</a>
		</div>
	</section>
	<section class="ctj-overview-wrapper">
		<div class="ctj-overview">
			<h2>Overview</h2>
			<div class="overview-wrapper">
				<p>
					Carl T. Johns Roofing Inc. specializes in installing, maitaining, and repairing commercial/residential roof systems. We use industry products that have a reputation for durablility and quality. Carl T. Johnson Inc. is also certified in several major roof systems. With over 70 years in business experience, you can rest assured that our company will do whatever it takes to meet your budget and goals. Our client's satisfaction is our number one priority. We look foward to doing business with you! Feel free to checkout our roofing photos below.
				</p>
			</div>
			<div class="about-btn-wrapper">
				<button>
					Learn More About Us
				</button>
			</div>
		</div>
	</section>
	<!-- Make this a incude of some kind -->
	<section class="ctj-roofing-services">
		<h2>Roof Photo Galleries</h2>
		<div class="w3-container ">
			<div class="w3-row w3-center">
				<a href="javascript:void(0)" onclick="openCity(event, 'Roofing');">
					<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">
						Metal Roof
						<i class="fa fa-angle-double-down w3-hide-medium w3-hide-large" aria-hidden="true" style="padding-left: 25px"></i>
					</div>
				</a>
				<a href="javascript:void(0)" onclick="openCity(event, 'Gutters');">
					<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">
						Shingle Roof
						<i class="fa fa-angle-double-down w3-hide-medium w3-hide-large" aria-hidden="true" style="padding-left: 10px"></i>
					</div>
				</a>
				<a href="javascript:void(0)" onclick="openCity(event, 'Siding');">
					<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">
						Rubber Roof
						<i class="fa fa-angle-double-down w3-hide-medium w3-hide-large" aria-hidden="true" style="padding-left: 10px"></i>
					</div>
				</a>
			</div>
		</div>
		<div id="Roofing" class="w3-container city">
			<div class="w3-container">
				<h3>Slideshow Caption</h3>
				<p>Add a caption text for each image slide with the w3-display-* classes (topleft, topmiddle, topright, bottomleft, bottommiddle, bottomright or middle).</p>
			</div>
			<div class="w3-display-container">
				<img class="metal" src="img/pc.PNG" style="width:100%; height: 450px; overflow: hidden">
			</div>

			<div class="w3-display-container">
				<img class="metal" src="img/pic2.jpg" style="width:100%; height: 450px; overflow: hidden">
			</div>

			<div class="w3-display-container">
				<img class="metal" src="img/thumb1.PNG" style="width:100%;height: 450px; overflow: hidden">
			</div>

			<div class="w3-display-container">
				<img class="metal" src="img/thumb2.PNG" style="width:100%;height: 450px; overflow: hidden">
			</div>

			<div class="w3-display-container">
				<img class="metal" src="img/pic2.jpg" style="width:100%; height: 450px; overflow: hidden">
			</div>
			<span class="btn-container">
				<button onclick="myshow1.previous()">Previous</button>
				<button onclick="myshow1.next()">Next</button>
			</span>
		</div>
		<div id="Gutters" class="w3-container city" style="display:none">
			<div class="w3-container">
				<h3>Slideshow Caption</h3>
				<p>Add a caption text for each image slide with the w3-display-* classes (topleft, topmiddle, topright, bottomleft, bottommiddle, bottomright or middle).</p>
			</div>
			<div class="w3-display-container">
				<img class="shingle" src="img/pc.PNG" style="width:100%; height: 450px; overflow: hidden">
			</div>

			<div class="w3-display-container">
				<img class="shingle" src="img/pic2.jpg" style="width:100%; height: 450px; overflow: hidden">
			</div>

			<div class="w3-display-container">
				<img class="shingle" src="img/thumb1.PNG" style="width:100%;height: 450px; overflow: hidden">
			</div>

			<div class="w3-display-container">
				<img class="shingle" src="img/thumb2.PNG" style="width:100%;height: 450px; overflow: hidden">
			</div>

			<div class="w3-display-container">
				<img class="shingle" src="img/pic2.jpg" style="width:100%; height: 450px; overflow: hidden">
			</div>
			<span class="btn-container">
				<button onclick="myshow2.previous()">Previous</button>
				<button onclick="myshow2.next()">Next</button>
			</span>
		</div>
		<div id="Siding" class="w3-container city" style="display:none">
			<div class="w3-container">
				<h3>Slideshow Caption</h3>
				<p>Add a caption text for each image slide with the w3-display-* classes (topleft, topmiddle, topright, bottomleft, bottommiddle, bottomright or middle).</p>
			</div>
			<div class="w3-display-container">
				<img class="rubber" src="img/pc.PNG" style="width:100%; height: 450px; overflow: hidden">
			</div>
			<div class="w3-display-container">
				<img class="rubber" src="img/pic2.jpg" style="width:100%; height: 450px; overflow: hidden">
			</div>
			<div class="w3-display-container">
				<img class="rubber" src="img/thumb1.PNG" style="width:100%;height: 450px; overflow: hidden">
			</div>

			<div class="w3-display-container">
				<img class="rubber" src="img/thumb2.PNG" style="width:100%;height: 450px; overflow: hidden">
			</div>

			<div class="w3-display-container">
				<img class="rubber" src="img/pic2.jpg" style="width:100%; height: 450px; overflow: hidden">
			</div>

			<span class="btn-container">
				<button onclick="myshow3.previous()">Previous</button>
				<button onclick="myshow3.next()">Next</button>
			</span>
		</div>
	</section>
</div>