<div class="w3-display-container">
	<section class="ctj-splash-screen">
		<div class="splash-content-wrapper">
			<div class="blurb">
				<span>"Great things in business are never done by one</span>
				<span>person. They are done by a team of people"</span>
			</div>
			<a href="https://www.bbb.org/centralohio/business-reviews/commercial-roofing/carl-t-johnson-company-inc-in-logan-oh-14007981/Bbb-Accreditation">
				<img id="bbb-logo" src="../../img/bbb-logo-A-rating.png">
			</a>
		</div>
	</section>
	<section class="ctj-overview-wrapper">
		<div class="ctj-overview">
			<h2>Overview</h2>
			<div class="overview-wrapper">
				<p>
					Carl T. Johnson Roofing Inc. specializes in installing, maintaining, and repairing commercial/residential roof systems. We use industry products that have a reputation for durablility and quality. Carl T. Johnson Inc. is also certified in several major roof systems. With over 70 years in business experience, you can rest assured that our company will do whatever it takes to meet your budget and goals. Our client's satisfaction is our number one priority. We look foward to doing business with you! Feel free to checkout our roofing photos below.
				</p>
			</div>
			<div class="about-btn-wrapper">
				<a href="/about">
					<button>
						Learn More About Us
					</button>
				</a>
			</div>
		</div>
	</section>
</div>