<!-- Make this a incude of some kind -->
<section class="ctj-roofing-services">
	<h2>Roof Photo Galleries</h2>
	<div class="w3-container ">
		<div class="w3-row w3-center">
			<a>
				<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">
					Metal Roof
					<i class="fa fa-angle-double-down w3-hide-medium w3-hide-large" aria-hidden="true" style="padding-left: 25px"></i>
				</div>
			</a>
			<a>
				<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">
					Shingle Roof
					<i class="fa fa-angle-double-down w3-hide-medium w3-hide-large" aria-hidden="true" style="padding-left: 10px"></i>
				</div>
			</a>
			<a>
				<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">
					Rubber Roof
					<i class="fa fa-angle-double-down w3-hide-medium w3-hide-large" aria-hidden="true" style="padding-left: 10px"></i>
				</div>
			</a>
		</div>
	</div>

	<div class="ctj-carousel-container">
		<div class="ctj-carousel">
			<span class="btn-container">
				<button>Previous</button>
				<button>Next</button>
			</span>
		</div>
	</div>

<!-- 	<div id="Roofing" class="w3-container city">
		<div class="w3-container">
			<h3>Slideshow Caption</h3>
			<p>Add a caption text for each image slide with the w3-display-* classes (topleft, topmiddle, topright, bottomleft, bottommiddle, bottomright or middle).</p>
		</div>
		<div class="w3-display-container">
			<img class="metal" src="img/pc.PNG">
		</div>

		<div class="w3-display-container">
			<img class="metal" src="img/pic2.jpg">
		</div>

		<div class="w3-display-container">
			<img class="metal" src="img/thumb1.PNG">
		</div>

		<div class="w3-display-container">
			<img class="metal" src="img/thumb2.PNG">
		</div>

		<div class="w3-display-container">
			<img class="metal" src="img/pic2.jpg">
		</div>
		<span class="btn-container">
			<button onclick="myshow1.previous()">Previous</button>
			<button onclick="myshow1.next()">Next</button>
		</span>
	</div>
	<div id="Gutters" class="w3-container city" style="display:none">
		<div class="w3-container">
			<h3>Slideshow Caption</h3>
			<p>Add a caption text for each image slide with the w3-display-* classes (topleft, topmiddle, topright, bottomleft, bottommiddle, bottomright or middle).</p>
		</div>
		<div class="w3-display-container">
			<img class="shingle" src="img/pc.PNG">
		</div>

		<div class="w3-display-container">
			<img class="shingle" src="img/pic2.jpg">
		</div>

		<div class="w3-display-container">
			<img class="shingle" src="img/thumb1.PNG">
		</div>

		<div class="w3-display-container">
			<img class="shingle" src="img/thumb2.PNG">
		</div>

		<div class="w3-display-container">
			<img class="shingle" src="img/pic2.jpg">
		</div>
		<span class="btn-container">
			<button onclick="myshow2.previous()">Previous</button>
			<button onclick="myshow2.next()">Next</button>
		</span>
	</div>
	<div id="Siding" class="w3-container city" style="display:none">
		<div class="w3-container">
			<h3>Slideshow Caption</h3>
			<p>Add a caption text for each image slide with the w3-display-* classes (topleft, topmiddle, topright, bottomleft, bottommiddle, bottomright or middle).</p>
		</div>
		<div class="w3-display-container">
			<img class="rubber" src="img/pc.PNG">
		</div>
		<div class="w3-display-container">
			<img class="rubber" src="img/pic2.jpg">
		</div>
		<div class="w3-display-container">
			<img class="rubber" src="img/thumb1.PNG">
		</div>

		<div class="w3-display-container">
			<img class="rubber" src="img/thumb2.PNG">
		</div>

		<div class="w3-display-container">
			<img class="rubber" src="img/pic2.jpg">
		</div>

		<span class="btn-container">
			<button onclick="myshow3.previous()">Previous</button>
			<button onclick="myshow3.next()">Next</button>
		</span>
	</div> -->
</section>