#contact_us .w3-display-container
	padding: 1rem 1.6rem 3.5rem 1.6rem
	max-width: $content-width
	margin: 0 auto
#contact_us li
	color: $white-1
#contact_us h2
	padding: 20px 0
#contact_methods li
	font-size: 1.5rem
	line-height: 3.5rem
#contact_us .w3-third
	padding: 0 1rem
	&:first-child
		padding-left: 0
	&:last-child
		padding-right: 0
	h4
		font-size: 2rem
	#office_hours li
		line-height: 3.5rem
		font-size: 1.5rem
#google-map
	margin: 0

@media screen and (max-width: $screen-small)
	#contact_us h2
		padding-bottom: 0
	#contact_us .w3-third
		padding: 1.6rem 0