.ctj-header-hide
	top: (-$contact-us-height) !important
.ctj-header
	background-color: $white-1
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3)
	color: $black-1
	height: $header-height
	position: fixed
	left: 0
	top: 0
	transition: 0.3s ease-in-out top
	width: 100vw
	z-index: 999
	.ctj-contact-header
		background-color: $red-1
		color: $white-1
		height: $contact-us-height
		line-height: $contact-us-height
		margin: 0 -1.6rem
		text-align: center
	#phone-number
		font-weight: bold
		padding-left: 1.2rem
	.w3-display-container
		margin: 0 auto
		max-width: $content-width
		height: $header-nav-height
		line-height: $header-nav-height
		a
			float: left
		a,
		.ctj-svg
			height: $header-nav-height
			display: inline-block
		.ctj-svg #ctj-logo1
			height: $header-nav-height
			padding: 1.2rem 0
			transition: 0.4s ease-in-out fill
			&:hover
				fill: $blue-2
		h3
			float: left
			width: auto

.ctj-nav
	float: right
	width: auto
	.w3-bar-item
		box-sizing: border-box
		font-size: 1.4rem
		height: $header-nav-height
		letter-spacing: 0.1rem
		min-width: 10rem
		padding: 0 0.5rem
		text-align: center
		text-transform: uppercase
		&:hover
			cursor: pointer
			// font-weight: bold
			border-bottom: 2px solid $black-1
		a
			text-decoration: none
		li
			font-size: 1.4rem
	#ctj-mobile-nav
		background-color: transparent
		border: none
		color: $black-1
		font-size: 2rem
		padding: 0 1rem
		&:hover,
		&:focus
			outline: 0
		&:active
			color: #111
	#right-menu
		background-color: $white-1
		i
			font-size: 2rem
			padding: 1rem
		a
			font-size: 1.6rem