.ctj-splash-screen
	align-items: center
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../../img/pc.PNG)
	background-repeat: no-repeat
	background-size: 120%
	background-position: -100px -40px
	display: flex
	height: $splash-image-height
	justify-content: center
	.splash-content-wrapper
		text-align: center
	.blurb
		color: $white-1
		padding: 0.5rem 1rem
		span
			font-size: 2.4rem
			font-weight: 300
			line-height: 3rem
			letter-spacing: 0.1rem
		span:last-child
			display: block
	#bbb-logo
		max-width: 20rem
		padding-top: 2rem
.ctj-overview-wrapper
	background-color: $blue-2
	width: 100vw
	.ctj-overview
		color: $white-1
		margin: 0 auto
		max-width: $overview-width
		min-height: $overview-height
		padding: 3.5rem 0
		h2
			letter-spacing: 0.1rem
			text-align: center
		p
			padding: 1.6rem 0 3.6rem
			font-size: 1.6rem
			font-weight: lighter
			line-height: 2.5rem
			letter-spacing: 0.04rem
			text-align: center
		.about-btn-wrapper
			text-align: center
			button
				background-color: transparent
				border: 1px solid $white-1
				border-radius: 0.6rem
				color: $white-1
				font-size: 1.6rem			
				font-weight: lighter
				height: 5rem
				letter-spacing: 1px
				transition: 0.3s ease-in-out background-color, 0.3s ease-in-out color
				width: 25rem
				&:hover
					background-color: $white-1
					color: $blue-2
					font-weight: normal
					cursor: pointer
				&:focus
					outline: 0
// Media Queries
@media screen and (max-width: $screen-large)
	.ctj-overview-wrapper .ctj-overview
		padding: 3.5rem $screen-break-padding

@media screen and (max-width: $screen-medium)
	.ctj-splash-screen
		background-size: cover
		background-position: initial

@media screen and (max-width: $screen-small)
	.ctj-splash-screen .blurb
		span
			font-size: 1.8rem
			line-height: 2.4rem
		span:last-child
			display: inline